.legal-content a, .legal-content p, .user-conduct {
    font-size: medium;
    font-family: Roboto, sans-serif;
    color: rgb(180 182 193 / 90%);
}

.legal-content a {
    color: white;
}

.legal-content  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 70px 20px;
    max-width: 1500px;
    margin: 0 auto;
}

.legal-title, .legal-intro, section {
    width: 100%;
}

.legal-title {
    text-align: left;
}

.line-break {
    width: 100%;
}

.legal-content p, h1, article h2 {
    margin-bottom: 16px;
}

.legal-title h1, article h2 {
    text-align: left;
}

.legal-title h1 {
    font-size: 2.5rem;
}

article h2 {
    color: hsla(0,0%,100%,.9);
}

.legal-intro, article {
    text-align: left;
}

.user-conduct {
    list-style-type: disc;
    list-style-position: inside;
    padding-left: 20px;
    padding-bottom: 15px;
}